@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  min-width: 250px;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1200px){
  main{
    padding-left: 0;
    padding-right: 0;
  }
}
/*Haus*/
header {
  display: flex;
  flex-direction: column;
  background-color: #afb281;
}

header a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.links__grid {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.karfa__head {
  display: flex;
  margin-right: 1em;
  margin-left: 1em;
  list-style: none;
  width: 100px;
}

.links__head {
  display: flex;
  margin: auto;
  margin-bottom: 1em;
  justify-content: center;
  padding-left: 7.5em;
}

.links__head li {
  margin-right: 1em;
  margin-left: 1em;
  list-style: none;
}

.cart__icon {
max-width: 30px;
max-height: 30px;
padding-right: 10px;
padding-bottom: 10px;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Oswald', Verdana, serif;
  margin-bottom: 0.5em;
}

.links__grid > ul > li > a:hover{
  transition: color 0.3s ease-in-out;
  color: #cee8ff;
}

@media (max-width:500px){
  .links__grid {
    flex-direction: column;
  }

  .links__head {
    padding: 0;
  }

  .karfa__head {
    margin-left: auto;
    margin-right: auto;
  }
}

/*Forsíða*/
.forgrid h2{
  font-family: 'Oswald', Verdana, serif;
  font-size: 36px;
}

.forgrid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.forgrid__col {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.forimage {
  max-width: 100%;
  margin-bottom: 20px;
}

.fortext {
  margin-bottom: 20px;
}

.fortext p {
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.forgrid a{
  text-decoration: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.forgrid button {
    background-color: #cc9694;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 10px 90px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.forgrid button:hover{
  transition: all 0.3s ease-in-out;
  background: #000000;
  color: #cc9694;
  cursor: pointer;
}

.forgrid__col:first-of-type{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.forgrid__col:nth-of-type(3){
  padding: 30px;
}

@media (min-width: 800px) {
  .forgrid__row {
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 50px;
  }
  .forgrid__col.img{
    padding-left: 10px;
    padding-right: 10px;
  }
  .forgrid__col {
    margin-bottom: 40px;
    width: 50%;
  }

  .forgrid__row:nth-of-type(2){
    margin-top: 10px
  }

  .forgrid__row:nth-child(2n) .forgrid__col:first-child {
    order: 2;
    padding-left: 10px;
    padding-top: 0px;
  }
  .forgrid__row:nth-child(2n+1) .forgrid__col:first-child {
    padding-left: 10px;
    padding-top: 0px;
  }

  .forgrid h2{
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .forgrid button{
    padding: 10px 50px;
  }

}
@media (min-width: 1500px){
  .forgrid__row:nth-child(2n) .forgrid__col:first-child {
    order: 2;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 8.5%;
  }
  .forgrid__row:nth-child(2n+1) .forgrid__col:first-child {
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 8.5%;
  }
}

/*Meginmál Staff*/
.staffgrid {
  padding-bottom: 48px;
}

.staffgrid__row {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 24px;
}

.staffgrid__col {
  width: 50%;
}

img.karolina {
  max-width: 100%;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;
}
img.tomas {
  max-width: 100%;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;
}

img.anna {
  max-width: 100%;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;
}

img.jon {
  max-width: 100%;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;
}
.card{
  left: 0; right: 0; top: 0; bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.3s linear;
}
.face{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back{
  position: absolute;
  display: block;
  transform: rotateY(180deg);
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Oswald', Verdana, serif;
}
.face.back h2{
  padding-top: 55%;
  padding-bottom: 16px;
}
.face.back p{
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.staffgrid__col:hover .card{
  transform: rotateY(180deg);
}
@media (max-width: 500px){
  .staffgrid__col{
    width: 100%;
    padding-top: 24px;
  }
  .staffgrid__row{
    flex-direction: column;
  }
}

/*Vörur*/
.prod__row {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.prod__col {
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-right: 20px;
}
.prod__img{
  max-width: 100%;
}

.prod__sec {
  max-width: 100%;
}

.prod__price {
  font-weight: bold;
  font-size: 1.30em;
}

.b__button {
  height: 30px;
  width: 120px;
  background: transparent;
}

input {
  border-radius: 5px;
  background: transparent;
  height: 30px;
  width: 120px;
}

.prod__des {
  line-height: 30px;
  font-family: Arial, sans-serif
  margin-top 30px;
}

.gb__text {
  padding-bottom: 30px;
}

.pine__text {
  padding-bottom: 30px;
}

.run__text {
  padding-bottom: 60px;
}

.cam__text {
  padding-bottom: 60px;
}

/*Karfa*/
.cartgrid__row{
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}
.cartgrid__col{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 48px;
}
.cartimage{
  width: 100%;
}
.cartgrid__col.info{
  margin-top: 16px;
}

.cartgrid__button{
  list-style: none; 
}

.cartgrid__button .cart__ic{
  max-height: 12px;
  max-width: 12px;
  margin-right: 5px;
}

.cartgrid__button a{
  text-decoration: none;
}

.cartgrid__button p{
  padding-left: 2px;
}

.cartgrid__button button{
  background-color: transparent;
  border: solid #000000 0.4px;
  border-radius: 2px;
  color: #000000;
  padding: 2px 5px;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  cursor: pointer;
}

.cartgrid__button :hover{
  background-color: #cc9694;
  transition: all ease-in-out 0.3s;
}

@media (min-width: 500px){
  .cartgrid__col.img{
    width: 33%;
  }
  .cartgrid__col{
    margin-top: 24px;
  }
  .cartgrid__row{
    flex-direction: row;
  }
  .cartgrid__col.info{
    width: 50%;
  }
}
@media (min-width: 800px){
  .cartgrid__row.info{
    margin-left: 16.5%;
    margin-right: 16.5%;
  }
}

/*Fótur*/
footer{
  display: flex;
  flex-direction: column;
  background-color: #cc9694;
}

.foot__row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1200px;
}
.foot__col:first-of-type{
  padding-left: 20px;
}

.foot__col {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 15px;
}

footer a{
  text-decoration: none;
  color: #fcffd2;
  font-size: 0.8rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

footer h3{
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Oswald', Verdana, serif;
}

footer ul {
  list-style: none;
}

footer::after {
  content: '© 2018 Vöruhúsið';
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}

.foot__col > ul > li > a:hover{
  transition: color 0.3s ease-in-out;
  color: #000000;
}

@media (max-width: 800px){
  .foot__row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
  }
  .foot__col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .foot__col:nth-of-type(3){
    padding-left: 20px;
  }
}

// TODO sækja allar sass skrár
//@import "scss/...";
