@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  min-width: 250px;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}
/*Haus*/
header {
  display: flex;
  flex-direction: column;
  background-color: #afb281;
}

header a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.links__grid {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.karfa__head {
  display: flex;
  margin-right: 1em;
  margin-left: 1em;
  list-style: none;
  width: 100px;
}

.links__head {
  display: flex;
  margin: auto;
  margin-bottom: 1em;
  justify-content: center;
  padding-left: 7.5em;
}

.links__head li {
  margin-right: 1em;
  margin-left: 1em;
  list-style: none;
}

.cart__icon {
max-width: 30px;
max-height: 30px;
padding-right: 10px;
padding-bottom: 10px;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: 'Oswald', Verdana, serif;
  margin-bottom: 0.5em;
}
.links__grid > ul > li > a:hover{
  transition: color 0.3s ease-in-out;
  color: #cee8ff;
}
/*Fótur*/
footer{
  display: flex;
  flex-direction: column;
  background-color: #cc9694;
}

.foot__row {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1200px;
}

.foot__col {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 20px;
  padding-left: 10px;
}

footer a{
  text-decoration: none;
  color: #fcffd2;
  font-size: 0.8rem;
  /*TODO breyta leturgerð hér og í H3*/
}
h3{
  padding-bottom: 10px;
  padding-top: 10px;
}

footer ul {
  list-style: none;
}
footer::after {
  content: '© 2018 vöruhúsið';
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 35px;
}
.foot__col > ul > li > a:hover{
  transition: color 0.3s ease-in-out;
  color: #000000;
}

/*Meginmál Staff*/
.staffgrid__row {
  display: flex;
  flex-direction: row;
}
.staffgrid__col {
  display: flex;
  width: 50%;
}

@media (max-width: 800px){
  .foot__row {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
  }
  .foot__col {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}

@media (max-width:500px){
  .links__grid {
    flex-direction: column;
  }
  .links__head {
    padding: 0;
  }
  .karfa__head {
    margin-left: auto;
    margin-right: auto;
  }
}
// TODO sækja allar sass skrár
//@import "scss/...";
